---
title: NatuTea
---

<div class="main-content">
	<section class="top-featured container-fluid">
		<div class="logo-cont col-md-2 col-sm-2">
			<%= image_tag "logo-transparente.png" %>
		</div>
		<%= image_tag "fundo-top-feature.png", class: "fundo-top-feature" %> 
		
		<div class="container featured-content-container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3 flavors-menu-cont text-left">
					<a href="#passionfruit" class="passionf-link">Passion fruit</a>
					<a href="#acai" class="acai-link">Acai berry</a>
					<a href="#lychee" class="lychee-link">Lychee</a>
					<a href="#tangerine" class="tanger-link">Tangerine</a>
					<a href="#lime" class="lime-link">Lime</a>
					<a href="#cranberry" class="cranb-link">Cranberry</a>
				</div>
				<div class="feat-img-and-txt-cont col-lg-8 col-md-7 col-sm-6">
					<%= image_tag "nt-top-feat-img.png" %>
				</div>
				<div class="diferentials-feat-info-cont col-lg-2 col-md-3 col-sm-3">
					<div class="calories-info diff-feat">
						<span>8</span> Calories
					</div>
					<div class="preserv-info diff-feat"><span>No</span><br>
						Preservatives
					</div>
					<div class="braz-fruit diff-feat">
						<span>With</span><br>
						Brazilian<br>
						<span>Fruit</span>
					</div>
					<div class="sugar-info diff-feat">
						<span>No</span><br>
						Added<br>
						Sugar
					</div>
				</div>
			</div>
			<div class="row">
				<div class="top-feat-sub-txt col-md-6 col-md-offset-3 text-center">
					Are you looking for a refreshing beverage that is low in calorie yet full of flavor?
				</div>
			</div>
		</div>
	</section>
	<section id="passionfruit" class="passionfruit skew-grande-ezquerda">
		<div class="container-fluid">
			<%= image_tag "garrafa-nt-maracuja-com-frutas.png" ,class: "img-maracuja-fruta"%>
			<div class="flavor-txt-container col-md-4 col-md-offset-4">
				<h3>Passion Fruit Juice</h3>
				<div class="flavor-section-txt">
					It is a highly aromatic fruit that has a great sweet and tangy flavor. High potassium content with almost no sodium makes Passion fruit highly effective in protecting from high blood pressure.
				</div>
			</div>
			<%= image_tag "garrafa-nt-maracuja-virada.png", class: "maracuja-virada" %>
			<%= image_tag "garrafa-nt-maracuja-direito.png", class: "maracuja-direito" %>
		</div>
	</section>
	<section id="acai" class="acai skew-grande-dir">
		<div class="container-fluid">
			<%= image_tag "acai-frutas.png", class: "acai-frutas" %>
			<div class="flavor-txt-container col-md-4 col-md-offset-4">
				<h3>ACAI BERRY JUICE</h3>
				<div class="flavor-section-txt">
					These berries, packed with vitamins and minerals, are native to Central and South America, acai berries have been touted as offering health benefits beyond those of typical fruits, including weight loss and anti-aging.
				</div>
			</div>
			<%= image_tag "garrafa-nt-acai-sombra.png", class: "garrafa-acai" %>
		</div>
	</section>
	<section id="lychee" class="lychee skew-grande-ezquerda">
		<div class="container-fluid">
			<%= image_tag "garrafa-nt-lichia-com-reflexo.png", class: "garrafa-lychee" %>
			<div class="flavor-txt-container col-md-4 col-md-offset-4">
				<h3>LYCHEE JUICE</h3>
				<div class="flavor-section-txt">
					Lychee has sweet taste, and fragrant flavor It is considered an exotic fruit with very nutritious and is full of energy. With a high amount of Vitamin C in it, lychee proves to be a good antioxidant that improves the immune function of our body.
				</div>
			</div>
			<%= image_tag "1_lichee.png", class: "lichia-frutas" %>
		</div>
	</section>
	<section id="tangerine" class="tangerine skew-grande-dir">
		<div class="container-fluid">
			<%= image_tag "tangerina-getty.png", class: "tangerina-fruta" %>
			<div class="flavor-txt-container col-md-4 col-md-offset-4">
				<h3>TANGERINE JUICE</h3>
				<div class="flavor-section-txt">
					Tangerines is a rare class of fruits that can be eaten everyday due to its low calorie count and high vitamin content. Tangerine consists of fibers like pectin and hemi-cellulose that restrict the absorption of cholesterol.
				</div>
			</div>
			<%= image_tag "garrafa-nt-tangerina-sombra.png", class: "garrafa-tangerina-sombra" %>
			<%= image_tag "garrafa-nt-tangerina-folhas.png", class: "garrafa-tangerina-folhas" %>
		</div>
	</section>
	<section id="lime" class="lime skew-grande-ezquerda">
		<div class="container-fluid">
			<%= image_tag "garraga-nt-limao-invertida-sombra.png", class: "garrafa-limao-invertida" %>
			<%= image_tag "garraga-nt-limao.png", class: "garrafa-limao-direita" %>
			<div class="flavor-txt-container col-md-4 col-md-offset-4">
				<h3>LIME JUICE</h3>
				<div class="flavor-section-txt">
					Like all the citrus, lemon is rich in vitamin C that stimulates immunity and improves the iron effects. Thirst-quenching and refreshing with a low calorie intake, lemon becomes the favorite juice for those that take care of their body.
				</div>
			</div>
			<%= image_tag "lime.png", class: "limao-frutas" %>
		</div>
	</section>
	<section id="cranberry" class="cranberry skew-grande-dir">
		<div class="container-fluid">
			<%= image_tag "cranberries.png", class: "cranberries-frutas" %>
			<div class="flavor-txt-container col-md-4 col-md-offset-4">
				<h3>CRANBERRY JUICE</h3>
				<div class="flavor-section-txt">
					Cranberries are little red acidulates fruits, which are low in calories. They bring a lot of fibers, source of vitamin C and contain flavonoids, strong antioxidant which prevent cardiovascular diseases and age-related.
				</div>
			</div>
			<%= image_tag "garrafa-nt-cranberry-sombra.png", class: "garrafa-cranb-sombra" %>
			<%= image_tag "garrafa-nt-cranberry.png", class: "garrafa-cranb-reflexo" %>
		</div>
	</section>
</div>
<%= partial "contact" %>
<%= partial "footer" %>